<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1><b>Add New Student Record:</b></h1>
<form action="#" th:action="@{/info}" th:object="${student}" method="post">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" th:field="*{id}" /></td>
            <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Id Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input type="text" th:field="*{surname}" /></td>
            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{grade}" /></td>
            <td th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}">Grade Error</td>
        </tr>

        <tr>
            <td><button type="submit">Submit</button></td>
            <td><button type="reset">Reset</button></td>
        </tr>
    </table>
</form>
</body>
</html>